In [1]:
import pandas as pd
df = pd.read_csv("dados_ecommerce.csv")
df.head()

     Produto   Preço  Quantidade  Categoria Avaliação
0  Produto 1  193.52          50  Vestuário         3
1  Produto 2  475.85           6  Alimentos         1
2  Produto 3  368.68          20        NaN       s/n
3  Produto 4  303.34          72  Vestuário         3
4  Produto 5   86.45          38  Vestuário       s/n

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Produto     32 non-null     object
 1   Preço       31 non-null     float64
 2   Quantidade  32 non-null     int64
 3   Categoria   25 non-null     object
 4   Avaliação   29 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ KB

In [3]:
import numpy as np

df['Avaliação'] = df['Avaliação'].replace('s/n', np.nan)

In [4]:
df.isnull().sum()

Produto       0
Preço         1
Quantidade    0
Categoria     7
Avaliação     6
dtype: int64

In [5]:
df.dropna(subset=['Preço'], inplace=True)

In [6]:
df['Categoria'] = df['Categoria'].fillna("Sem Categoria")

In [7]:
df['Avaliado'] = ~df['Avaliação'].isnull()

In [8]:

media_cat = df.groupby('Categoria')['Avaliação'].mean()
df['Avaliação'] = df['Avaliação'].fillna(df['Categoria'].map(media_cat))

df

TypeError: agg function failed [how->mean,dtype->object]

In [9]:
df['Avaliação'] = pd.to_numeric(df['Avaliação'], errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Produto     31 non-null     object
 1   Preço       31 non-null     float64
 2   Quantidade  31 non-null     int64
 3   Categoria   31 non-null     object
 4   Avaliação   25 non-null     float64
 5   Avaliado    31 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 1.5+ KB

In [11]:

media_cat = df.groupby('Categoria')['Avaliação'].mean()
df['Avaliação'] = df['Avaliação'].fillna(df['Categoria'].map(media_cat))

In [12]:
df.loc[df['Categoria'] == 'eletronicos', 'Categoria'] = 'Eletrônicos'

In [13]:

media_cat = df.groupby('Categoria')['Avaliação'].mean()
df['Avaliação'] = df['Avaliação'].fillna(df['Categoria'].map(media_cat))

In [14]:
df['Avaliação'] = df['Avaliação'].clip(lower=1, upper=5)

In [15]:
df['Quantidade'] = df['Quantidade'].clip(lower=0)

In [16]:
df['Produto'] = df['Produto'].str.lower().str.replace(' ', '')



df

      Produto     Preço  Quantidade      Categoria  Avaliação  Avaliado
0    produto1    193.52          50      Vestuário   3.000000      True
1    produto2    475.85           6      Alimentos   1.000000      True
2    produto3    368.68          20  Sem Categoria   2.666667     False
3    produto4    303.34          72      Vestuário   3.000000      True
4    produto5     86.45          38      Vestuário   3.000000     False
6    produto7     38.46           3      Vestuário   5.000000      True
7    produto8    434.43          88      Vestuário   2.000000      True
8    produto9    304.55          59      Alimentos   2.000000      True
9   produto10    356.96          13      Alimentos   1.000000      True
10  produto11     20.09           0    Eletrônicos   4.000000      True
11  produto12    485.26          89  Sem Categoria   1.000000      True
12  produto13    417.90          52  Sem Categoria   4.000000      True
13  produto14    114.05           1      Vestuário   2.000000      True
14  produto15     99.09          83  Sem Categoria   1.000000      True
15  produto16     99.87          91    Eletrônicos   3.500000     False
16  produto17    159.08          59    Eletrônicos   5.000000      True
17  produto18    267.13          70      Alimentos   3.000000      True
18  produto19    221.65          43      Alimentos   4.000000      True
19  produto20    152.70           7      Alimentos   2.714286     False
20  produto21    309.81          46  Sem Categoria   5.000000      True
21  produto22     78.35          34    Eletrônicos   3.000000      True
22  produto23    153.15          77  Sem Categoria   1.000000      True
23  produto24    189.52          80  Sem Categoria   3.000000      True
24  produto25    233.47          35    Eletrônicos   5.000000      True
25  produto26    394.74          49    Eletrônicos   3.500000     False
26  produto27    107.84           3    Eletrônicos   3.000000      True
27  produto28    261.97           1    Eletrônicos   1.000000      True
28  produto29  13000.00           5      Alimentos   5.000000      True
29  produto30  21000.00          53     Brinquedos   2.000000      True
30  produto31   1030.00          17      Alimentos   3.000000      True
31  produto31    999.99           5      Alimentos   2.714286     False

In [17]:
df.drop_duplicates(subset=['Produto'], keep='first', inplace=True)

In [18]:
df

      Produto     Preço  Quantidade      Categoria  Avaliação  Avaliado
0    produto1    193.52          50      Vestuário   3.000000      True
1    produto2    475.85           6      Alimentos   1.000000      True
2    produto3    368.68          20  Sem Categoria   2.666667     False
3    produto4    303.34          72      Vestuário   3.000000      True
4    produto5     86.45          38      Vestuário   3.000000     False
6    produto7     38.46           3      Vestuário   5.000000      True
7    produto8    434.43          88      Vestuário   2.000000      True
8    produto9    304.55          59      Alimentos   2.000000      True
9   produto10    356.96          13      Alimentos   1.000000      True
10  produto11     20.09           0    Eletrônicos   4.000000      True
11  produto12    485.26          89  Sem Categoria   1.000000      True
12  produto13    417.90          52  Sem Categoria   4.000000      True
13  produto14    114.05           1      Vestuário   2.000000      True
14  produto15     99.09          83  Sem Categoria   1.000000      True
15  produto16     99.87          91    Eletrônicos   3.500000     False
16  produto17    159.08          59    Eletrônicos   5.000000      True
17  produto18    267.13          70      Alimentos   3.000000      True
18  produto19    221.65          43      Alimentos   4.000000      True
19  produto20    152.70           7      Alimentos   2.714286     False
20  produto21    309.81          46  Sem Categoria   5.000000      True
21  produto22     78.35          34    Eletrônicos   3.000000      True
22  produto23    153.15          77  Sem Categoria   1.000000      True
23  produto24    189.52          80  Sem Categoria   3.000000      True
24  produto25    233.47          35    Eletrônicos   5.000000      True
25  produto26    394.74          49    Eletrônicos   3.500000     False
26  produto27    107.84           3    Eletrônicos   3.000000      True
27  produto28    261.97           1    Eletrônicos   1.000000      True
28  produto29  13000.00           5      Alimentos   5.000000      True
29  produto30  21000.00          53     Brinquedos   2.000000      True
30  produto31   1030.00          17      Alimentos   3.000000      True

In [19]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 10, 11]})
df2 = pd.DataFrame({'A': [5, 6, 3, 4], 'B': [7, 8, 12, 13]})

df_vertical = pd.concat([df1, df2], axis=0)

In [20]:
df_vertical

   A   B
0  1   3
1  2   4
2  3  10
3  4  11
0  5   7
1  6   8
2  3  12
3  4  13

In [21]:
df_horizontal = pd.concat([df1, df2], axis=1)

In [22]:
df_horizontal

   A   B  A   B
0  1   3  5   7
1  2   4  6   8
2  3  10  3  12
3  4  11  4  13

In [23]:
df_inner = pd.merge(df1, df2, on='A', how='inner')
df_inner

   A  B_x  B_y
0  3   10   12
1  4   11   13

### Transformação

In [24]:
from sklearn.preprocessing import MinMaxScaler

numerical_columns = df.select_dtypes(include=['int', 'float']).columns
scaler = MinMaxScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [25]:
df

      Produto     Preço  Quantidade      Categoria  Avaliação  Avaliado
0    produto1  0.008266    0.549451      Vestuário   0.500000      True
1    produto2  0.021724    0.065934      Alimentos   0.000000      True
2    produto3  0.016615    0.219780  Sem Categoria   0.416667     False
3    produto4  0.013501    0.791209      Vestuário   0.500000      True
4    produto5  0.003163    0.417582      Vestuário   0.500000     False
6    produto7  0.000876    0.032967      Vestuário   1.000000      True
7    produto8  0.019749    0.967033      Vestuário   0.250000      True
8    produto9  0.013559    0.648352      Alimentos   0.250000      True
9   produto10  0.016057    0.142857      Alimentos   0.000000      True
10  produto11  0.000000    0.000000    Eletrônicos   0.750000      True
11  produto12  0.022172    0.978022  Sem Categoria   0.000000      True
12  produto13  0.018961    0.571429  Sem Categoria   0.750000      True
13  produto14  0.004479    0.010989      Vestuário   0.250000      True
14  produto15  0.003766    0.912088  Sem Categoria   0.000000      True
15  produto16  0.003803    1.000000    Eletrônicos   0.625000     False
16  produto17  0.006625    0.648352    Eletrônicos   1.000000      True
17  produto18  0.011775    0.769231      Alimentos   0.500000      True
18  produto19  0.009607    0.472527      Alimentos   0.750000      True
19  produto20  0.006321    0.076923      Alimentos   0.428571     False
20  produto21  0.013809    0.505495  Sem Categoria   1.000000      True
21  produto22  0.002777    0.373626    Eletrônicos   0.500000      True
22  produto23  0.006342    0.846154  Sem Categoria   0.000000      True
23  produto24  0.008076    0.879121  Sem Categoria   0.500000      True
24  produto25  0.010171    0.384615    Eletrônicos   1.000000      True
25  produto26  0.017858    0.538462    Eletrônicos   0.625000     False
26  produto27  0.004183    0.032967    Eletrônicos   0.500000      True
27  produto28  0.011529    0.010989    Eletrônicos   0.000000      True
28  produto29  0.618683    0.054945      Alimentos   1.000000      True
29  produto30  1.000000    0.582418     Brinquedos   0.250000      True
30  produto31  0.048137    0.186813      Alimentos   0.500000      True

In [26]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [27]:
df

      Produto     Preço  Quantidade      Categoria  Avaliação  Avaliado
0    produto1 -0.275272    0.280234      Vestuário   0.066655      True
1    produto2 -0.209692   -1.164722      Alimentos  -1.460343      True
2    produto3 -0.234586   -0.704963  Sem Categoria  -0.187845     False
3    produto4 -0.249763    1.002712      Vestuário   0.066655      True
4    produto5 -0.300143   -0.113845      Vestuário   0.066655     False
6    produto7 -0.311290   -1.263242      Vestuário   1.593653      True
7    produto8 -0.219313    1.528150      Vestuário  -0.696844      True
8    produto9 -0.249482    0.575793      Alimentos  -0.696844      True
9   produto10 -0.237308   -0.934843      Alimentos  -1.460343      True
10  produto11 -0.315557   -1.361761    Eletrônicos   0.830154      True
11  produto12 -0.207506    1.560990  Sem Categoria  -1.460343      True
12  produto13 -0.223153    0.345914  Sem Categoria   0.830154      True
13  produto14 -0.293732   -1.328921      Vestuário  -0.696844      True
14  produto15 -0.297207    1.363951  Sem Categoria  -1.460343      True
15  produto16 -0.297025    1.626670    Eletrônicos   0.448404     False
16  produto17 -0.283272    0.575793    Eletrônicos   1.593653      True
17  produto18 -0.258174    0.937032      Alimentos   0.066655      True
18  produto19 -0.268738    0.050355      Alimentos   0.830154      True
19  produto20 -0.284754   -1.131882      Alimentos  -0.151488     False
20  produto21 -0.248260    0.148874  Sem Categoria   1.593653      True
21  produto22 -0.302024   -0.245205    Eletrônicos   0.066655      True
22  produto23 -0.284649    1.166911  Sem Categoria  -1.460343      True
23  produto24 -0.276201    1.265431  Sem Categoria   0.066655      True
24  produto25 -0.265992   -0.212365    Eletrônicos   1.593653      True
25  produto26 -0.228532    0.247394    Eletrônicos   0.448404     False
26  produto27 -0.295174   -1.263242    Eletrônicos   0.066655      True
27  produto28 -0.259372   -1.328921    Eletrônicos  -1.460343      True
28  produto29  2.699444   -1.197562      Alimentos   1.593653      True
29  produto30  4.557701    0.378754     Brinquedos  -0.696844      True
30  produto31 -0.080973   -0.803483      Alimentos   0.066655      True

In [28]:
mapa = {'Alimentos': 1, 'Brinquedos': 2, 'Eletrônicos': 3, 'Vestuário': 4, 'Sem Categoria': 5}
df['Categoria'] = df['Categoria'].map(mapa)

In [29]:
df

      Produto     Preço  Quantidade  Categoria  Avaliação  Avaliado
0    produto1 -0.275272    0.280234          4   0.066655      True
1    produto2 -0.209692   -1.164722          1  -1.460343      True
2    produto3 -0.234586   -0.704963          5  -0.187845     False
3    produto4 -0.249763    1.002712          4   0.066655      True
4    produto5 -0.300143   -0.113845          4   0.066655     False
6    produto7 -0.311290   -1.263242          4   1.593653      True
7    produto8 -0.219313    1.528150          4  -0.696844      True
8    produto9 -0.249482    0.575793          1  -0.696844      True
9   produto10 -0.237308   -0.934843          1  -1.460343      True
10  produto11 -0.315557   -1.361761          3   0.830154      True
11  produto12 -0.207506    1.560990          5  -1.460343      True
12  produto13 -0.223153    0.345914          5   0.830154      True
13  produto14 -0.293732   -1.328921          4  -0.696844      True
14  produto15 -0.297207    1.363951          5  -1.460343      True
15  produto16 -0.297025    1.626670          3   0.448404     False
16  produto17 -0.283272    0.575793          3   1.593653      True
17  produto18 -0.258174    0.937032          1   0.066655      True
18  produto19 -0.268738    0.050355          1   0.830154      True
19  produto20 -0.284754   -1.131882          1  -0.151488     False
20  produto21 -0.248260    0.148874          5   1.593653      True
21  produto22 -0.302024   -0.245205          3   0.066655      True
22  produto23 -0.284649    1.166911          5  -1.460343      True
23  produto24 -0.276201    1.265431          5   0.066655      True
24  produto25 -0.265992   -0.212365          3   1.593653      True
25  produto26 -0.228532    0.247394          3   0.448404     False
26  produto27 -0.295174   -1.263242          3   0.066655      True
27  produto28 -0.259372   -1.328921          3  -1.460343      True
28  produto29  2.699444   -1.197562          1   1.593653      True
29  produto30  4.557701    0.378754          2  -0.696844      True
30  produto31 -0.080973   -0.803483          1   0.066655      True

In [30]:
df = pd.get_dummies(df, columns=['Categoria'])

In [31]:
df

,Produto,Preço,Quantidade,Avaliação,Avaliado,Categoria_1,Categoria_2,Categoria_3,Categoria_4,Categoria_5
0,produto1,-0.275272,0.280234,0.066655,True,False,False,False,True,False
1,produto2,-0.209692,-1.164722,-1.460343,True,True,False,False,False,False
2,produto3,-0.234586,-0.704963,-0.187845,False,False,False,False,False,True
3,produto4,-0.249763,1.002712,0.066655,True,False,False,False,True,False
4,produto5,-0.300143,-0.113845,0.066655,False,False,False,False,True,False
6,produto7,-0.311290,-1.263242,1.593653,True,False,False,False,True,False
7,produto8,-0.219313,1.528150,-0.696844,True,False,False,False,True,False
8,produto9,-0.249482,0.575793,-0.696844,True,True,False,False,False,False
9,produto10,-0.237308,-0.934843,-1.460343,True,True,False,False,False,False
10,produto11,-0.315557,-1.361761,0.830154,True,False,False,True,False,False
11,produto12,-0.207506,1.560990,-1.460343,True,False,False,False,False,True
12,produto13,-0.223153,0.345914,0.830154,True,False,False,False,False,True
13,produto14,-0.293732,-1.328921,-0.696844,True,False,False,False,True,False
14,produto15,-0.297207,1.363951,-1.460343,True,False,False,False,False,True
15,produto16,-0.297025,1.626670,0.448404,False,False,False,True,False,False
16,produto17,-0.283272,0.575793,1.593653,True,False,False,True,False,False
17,produto18,-0.258174,0.937032,0.066655,True,True,False,False,False,False
18,produto19,-0.268738,0.050355,0.830154,True,True,False,False,False,False
19,produto20,-0.284754,-1.131882,-0.151488,False,True,False,False,False,False
20,produto21,-0.248260,0.148874,1.593653,True,False,False,False,False,True
21,produto22,-0.302024,-0.245205,0.066655,True,False,False,True,False,False
22,produto23,-0.284649,1.166911,-1.460343,True,False,False,False,False,True
23,produto24,-0.276201,1.265431,0.066655,True,False,False,False,False,True
24,produto25,-0.265992,-0.212365,1.593653,True,False,False,True,False,False
25,produto26,-0.228532,0.247394,0.448404,False,False,False,True,False,False
26,produto27,-0.295174,-1.263242,0.066655,True,False,False,True,False,False
27,produto28,-0.259372,-1.328921,-1.460343,True,False,False,True,False,False
28,produto29,2.699444,-1.197562,1.593653,True,True,False,False,False,False
29,produto30,4.557701,0.378754,-0.696844,True,False,True,False,False,False
30,produto31,-0.080973,-0.803483,0.066655,True,True,False,False,False,False

In [32]:
df['discretizado'] = pd.cut(df['Preço'], bins=3, labels=["Baixo", "Médio", "Alto"])

In [33]:
df

,Produto,Preço,Quantidade,Avaliação,Avaliado,Categoria_1,Categoria_2,Categoria_3,Categoria_4,Categoria_5,discretizado
0,produto1,-0.275272,0.280234,0.066655,True,False,False,False,True,False,Baixo
1,produto2,-0.209692,-1.164722,-1.460343,True,True,False,False,False,False,Baixo
2,produto3,-0.234586,-0.704963,-0.187845,False,False,False,False,False,True,Baixo
3,produto4,-0.249763,1.002712,0.066655,True,False,False,False,True,False,Baixo
4,produto5,-0.300143,-0.113845,0.066655,False,False,False,False,True,False,Baixo
6,produto7,-0.311290,-1.263242,1.593653,True,False,False,False,True,False,Baixo
7,produto8,-0.219313,1.528150,-0.696844,True,False,False,False,True,False,Baixo
8,produto9,-0.249482,0.575793,-0.696844,True,True,False,False,False,False,Baixo
9,produto10,-0.237308,-0.934843,-1.460343,True,True,False,False,False,False,Baixo
10,produto11,-0.315557,-1.361761,0.830154,True,False,False,True,False,False,Baixo
11,produto12,-0.207506,1.560990,-1.460343,True,False,False,False,False,True,Baixo
12,produto13,-0.223153,0.345914,0.830154,True,False,False,False,False,True,Baixo
13,produto14,-0.293732,-1.328921,-0.696844,True,False,False,False,True,False,Baixo
14,produto15,-0.297207,1.363951,-1.460343,True,False,False,False,False,True,Baixo
15,produto16,-0.297025,1.626670,0.448404,False,False,False,True,False,False,Baixo
16,produto17,-0.283272,0.575793,1.593653,True,False,False,True,False,False,Baixo
17,produto18,-0.258174,0.937032,0.066655,True,True,False,False,False,False,Baixo
18,produto19,-0.268738,0.050355,0.830154,True,True,False,False,False,False,Baixo
19,produto20,-0.284754,-1.131882,-0.151488,False,True,False,False,False,False,Baixo
20,produto21,-0.248260,0.148874,1.593653,True,False,False,False,False,True,Baixo
21,produto22,-0.302024,-0.245205,0.066655,True,False,False,True,False,False,Baixo
22,produto23,-0.284649,1.166911,-1.460343,True,False,False,False,False,True,Baixo
23,produto24,-0.276201,1.265431,0.066655,True,False,False,False,False,True,Baixo
24,produto25,-0.265992,-0.212365,1.593653,True,False,False,True,False,False,Baixo
25,produto26,-0.228532,0.247394,0.448404,False,False,False,True,False,False,Baixo
26,produto27,-0.295174,-1.263242,0.066655,True,False,False,True,False,False,Baixo
27,produto28,-0.259372,-1.328921,-1.460343,True,False,False,True,False,False,Baixo
28,produto29,2.699444,-1.197562,1.593653,True,True,False,False,False,False,Médio
29,produto30,4.557701,0.378754,-0.696844,True,False,True,False,False,False,Alto
30,produto31,-0.080973,-0.803483,0.066655,True,True,False,False,False,False,Baixo

In [34]:
sampled_df = df.sample(frac=0.1)
sampled_df

,Produto,Preço,Quantidade,Avaliação,Avaliado,Categoria_1,Categoria_2,Categoria_3,Categoria_4,Categoria_5,discretizado
2,produto3,-0.234586,-0.704963,-0.187845,False,False,False,False,False,True,Baixo
20,produto21,-0.248260,0.148874,1.593653,True,False,False,False,False,True,Baixo
6,produto7,-0.311290,-1.263242,1.593653,True,False,False,False,True,False,Baixo

In [35]:
irrelevantes = ['Produto']
df.drop(irrelevantes, axis=1, inplace=True)

In [36]:
from sklearn.decomposition import PCA

# Inicializando PCA para reduzir os dados a 2 componentes
pca = PCA(n_components=2)

# Supondo df como um DataFrame com muitas colunas numéricas
reduced_df = pd.DataFrame(pca.fit_transform(df[numerical_columns]), columns=['PC1', 'PC2'])

In [37]:
reduced_df

         PC1       PC2
0   0.242653 -0.226336
1   0.242846  0.062251
2  -0.267429 -0.285839
3   0.718409 -0.071345
4  -0.012952 -0.321060
5  -1.773506 -1.030468
6   1.556778  0.297530
7   0.928414  0.096437
8   0.406937  0.078353
9  -1.341504 -0.807240
10  2.071211  0.559568
11 -0.228414 -0.411054
12 -0.334037 -0.290795
13  1.970902  0.440389
14  0.905648 -0.124444
15 -0.549354 -0.670258
16  0.677326 -0.091098
17 -0.410535 -0.507130
18 -0.559717 -0.421715
19 -0.848305 -0.715290
20 -0.100434 -0.346678
21  1.834207  0.416257
22  0.904120 -0.048181
23 -1.084412 -0.797412
24 -0.044315 -0.311408
25 -0.786046 -0.525297
26  0.150334 -0.013762
27 -2.800738  1.779878
28 -0.914351  4.528806
29 -0.553735 -0.242659